<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-map-marked-alt"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Wikimaps</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item"><a class="nav-link active" href="/maps"><i class="fa fa-map"></i><span>All
            Maps</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/my-maps"><i class="fas fa-map-marked-alt"></i><span>My
            Maps</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/create-map"><i class="fas fa-plus"></i><span>Create A
            Map</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/1"><i class="far fa-eye"></i><span>View
            Map</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a>
      </li>
    </ul>
    <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
        type="button"></button></div>
  </div>
</nav>
