<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/_head") %>
</head>

<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0"><a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-map-marked-alt"></i></div>
          <div class="sidebar-brand-text mx-3"><span>Wikimaps</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link" href="/maps"><i class="fa fa-map"></i><span>All
                Maps</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/my-maps"><i class="fas fa-map-marked-alt"></i><span>My
                Maps</span></a></li>
          <li class="nav-item"><a class="nav-link active" href="/create-map"><i class="fas fa-plus"></i><span>Create A
                Map</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/test-map1"><i class="far fa-eye"></i><span>View
                Map</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>Profile</span></a>
          </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
            type="button"></button></div>
      </div>
    </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <%- include("./partials/_header"); %>

            <div class="container-fluid" style="margin: 0px 0px 24px;">



              <h3 class="text-dark mb-4">New Map</h3>
              <div class="card shadow">
                <div class="card-header py-3">
                  <p class="text-primary m-0 fw-bold">Create A Map</p>
                </div>
                <div class="card-body">

                  <form class="new-map">
                    <div class="mb-3"><input class="form-control " type="text" id="newMapTitle" aria-describedby="title"
                        placeholder="Title..." name="title"></div>
                    <div class="mb-3"><input class="form-control " type="text" id="newMapLatitude"
                        aria-describedby="latitude" placeholder="Latitude..." name="latitude"></div>
                    <div class="mb-3"><input class="form-control " type="text" id="newMapLongitude"
                        aria-describedby="longitude" placeholder="Longitude..." name="longitude"></div>

                    <button class="btn btn-primary d-block btn-user w-100" type="submit">Create
                      Map</button>
                    <hr>
                  </form>

                </div>
              </div>




            </div>

        </div>
        <%- include("./partials/_footer"); %>
      </div>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/theme.js"></script>
</body>

</html>
